{% extends 'home/default.html' %}

{% block content %}
    <div class="section section-hero section-shaped" >
        <div class="shape shape-style-3 shape-default" style="height: 480px;">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="page-header">
            <br>
            <div id="search-bar">
                <center>
                     <form autocomplete="off" action="{% url 'byBrand' %}" method="post">
                    {% csrf_token %}
                    <div class="autocomplete">
                    <input type="text" id="search_bar" name="search_text" placeholder="What are you looking for..."" >
                    </div>
                    <input type="submit" id="search_button" name="search_bar" value="Search">
                </form>
                </center>
            </div>
            <script>
                var flag=0;
        function showIt()
        {
            if(flag==0)
            {
                document.getElementById("search-bar").style.display = "block";
                flag=1;
            }
            else
            {
                flag=0;
                document.getElementById("search-bar").style.display = "none";
            }
        }
                function autocomplete(inp, data) {
                    /*the autocomplete function takes two arguments,
                    the text field element and an array of possible autocompleted values:*/
                    var currentFocus;
                    /*execute a function when someone writes in the text field:*/
                    inp.addEventListener("input", function (e) {
                        var a, b, i, val = this.value;
                        /*close any already open lists of autocompleted values*/
                        closeAllLists();
                        if (!val) {
                            return false;
                        }
                        currentFocus = -1;
                        /*create a DIV element that will contain the items (values):*/
                        a = document.createElement("DIV");
                        a.setAttribute("id", this.id + "autocomplete-list");
                        a.setAttribute("class", "autocomplete-items");
                        /*append the DIV element as a child of the autocomplete container:*/
                        this.parentNode.appendChild(a);
                        var f=0;
                        /*for each item in the array...*/

                        for (x in data["data"]) {
                            if(f>7)
                                break;
                            /*check if the item starts with the same letters as the text field value:*/

                            if (data["data"][x].toUpperCase().includes(val.toUpperCase())) {
                                f++;
                                ind = data["data"][x].toUpperCase().indexOf(val.toUpperCase())
                                /*create a DIV element for each matching element:*/
                                b = document.createElement("DIV");
                                /*make the matching letters bold:*/
                                b.innerHTML = data["data"][x].substr(0,ind)
                                b.innerHTML += "<strong>" + data["data"][x].substr(ind, val.length) + "</strong>";
                                b.innerHTML += data["data"][x].substr(ind+val.length);
                                /*insert a input field that will hold the current array item's value:*/
                                b.innerHTML += "<input type='hidden' value='" + data["data"][x] + "'>";
                                /*execute a function when someone clicks on the item value (DIV element):*/
                                b.addEventListener("click", function (e) {
                                    /*insert the value for the autocomplete text field:*/
                                    inp.value = this.getElementsByTagName("input")[0].value;
                                    /*close the list of autocompleted values,
                                    (or any other open lists of autocompleted values:*/
                                    closeAllLists();
                                });
                                a.appendChild(b);
                            }
                        }
                    });
                    /*execute a function presses a key on the keyboard:*/
                    inp.addEventListener("keydown", function (e) {
                        var x = document.getElementById(this.id + "autocomplete-list");
                        if (x) x = x.getElementsByTagName("div");
                        if (e.keyCode == 40) {
                            /*If the arrow DOWN key is pressed,
                            increase the currentFocus variable:*/
                            currentFocus++;
                            /*and and make the current item more visible:*/
                            addActive(x);
                        } else if (e.keyCode == 38) { //up
                            /*If the arrow UP key is pressed,
                            decrease the currentFocus variable:*/
                            currentFocus--;
                            /*and and make the current item more visible:*/
                            addActive(x);
                        } else if (e.keyCode == 13) {
                            /*If the ENTER key is pressed, prevent the form from being submitted,*/
                            e.preventDefault();
                            if (currentFocus > -1) {
                                /*and simulate a click on the "active" item:*/
                                if (x) x[currentFocus].click();
                            }
                        }
                    });

                    function addActive(x) {
                        /*a function to classify an item as "active":*/
                        if (!x) return false;
                        /*start by removing the "active" class on all items:*/
                        removeActive(x);
                        if (currentFocus >= x.length) currentFocus = 0;
                        if (currentFocus < 0) currentFocus = (x.length - 1);
                        /*add class "autocomplete-active":*/
                        x[currentFocus].classList.add("autocomplete-active");
                    }

                    function removeActive(x) {
                        /*a function to remove the "active" class from all autocomplete items:*/
                        for (var i = 0; i < x.length; i++) {
                            x[i].classList.remove("autocomplete-active");
                        }
                    }

                    function closeAllLists(elmnt) {
                        /*close all autocomplete lists in the document,
                        except the one passed as an argument:*/
                        var x = document.getElementsByClassName("autocomplete-items");
                        for (var i = 0; i < x.length; i++) {
                            if (elmnt != x[i] && elmnt != inp) {
                                x[i].parentNode.removeChild(x[i]);
                            }
                        }
                    }

                    /*execute a function when someone clicks in the document:*/
                    document.addEventListener("click", function (e) {
                        closeAllLists(e.target);
                    });
                }
                var data = JSON.parse("{{ list|escapejs }}");
                autocomplete(document.getElementById("search_bar"), data);
            </script>
            <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h1 class="text-white display-1">Comparison By Specifications</h1>
                    </div>
                    </div>
                </div>       
            </div>
        </div>
        
    </div>
    {% if size == 0 %}
        <center>
            <img src='https://i.postimg.cc/rF0V5GrJ/cart-empty-5c96f1288723a071b2ede090a175481a.png' style="height: 300px; width:500px;">
        </center>
    {% endif %}
    <div id="products" class="row view-group" style="padding:10px;">
        {% for model,spec,image_link,p_key,price in result %}
        <div class="item col-md-3 col-sm-6" id="{{p_key}}">
            <center>
                <button class="btn" style="color: white; background:rgb(2, 103, 255)" onclick="removeFromCompare({{p_key}})">Remove</button>
            </center>
            <br>
            <div class="thumbnail card" id="box{{pk}}"">
                <center>
                    <h5 class="group card-title inner list-group-item-heading">
                        <a href="/view?model={{  p_key }}">{{ model }}</a>
                    </center>
                </h5>
                {% if image_link == "Not Found" %}
                    <div class="img-event">
                        <center><img class="group list-group-image img-fluid" src="https://i.postimg.cc/gcHQcNYk/default.jpg" alt=".."/></center>
                        
                    </div>
                {% else %}
                    <div class="img-event">
                        <center><img class="group list-group-image img-fluid" src="{{image_link}}" alt=""/></center>
                    </div>
                {% endif %}
                <center><h5>Rs. {{price}}</h5></center>
                <div class="caption card-body">
                    <div class="row">
                        <div class="col-12">
                            <table class="specs">
                                <tr><th>Specifications</th></tr>
                                {% for s in spec %}
                                <tr><td style="height: 50px; padding:5px; font-size:15px;">&#9726; {{s}}</td></tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <script>
        function removeFromCompare(model_key)
            {
                //alert(model_key);            
                Swal.fire({
                    title: 'Are you sure?',
                    text: "",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                  }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type:'POST',
                            url:'{% url 'remove-from-compare' %}',
                            data:{
                                model_key:model_key,
                            },
                            success:function(response)
                            {
                            
                                var flag = response['flag'];
                                var model_key = response['model_key'];
                                if(flag == 'no')
                                {
                                    alert("There is some error");
                                }
                                else if(flag == 'yes')
                                {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Removed successfully !',
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                    document.getElementById(model_key).style.display = "none";
                                    //alert("Up Voted successfully !");
                                }
                            },
                            error:function(response){
                                alert(response["responseJSON"]["error"]);
                            }
                        });   
                    }
                  });
            }
    </script>
{% endblock %}