{% extends 'home/default.html' %}

{% block content %}
    <div class="section section-hero section-shaped">
        {% if searched %}
            <div class="shape shape-style-3 shape-default" style="height: 350px;">
        {% else %}
            <div class="shape shape-style-3 shape-default">
        {% endif %}
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        </div>
        <div class="page-header">
            <br>
            <div id="search-bar">
                <center>
                    <form action="{% url 'byBrand' %}" method="post" autocomplete="off">
                    <div class="autocomplete">
                        {% csrf_token %}
                        {% if searched %}
                            <input type="text" id="search_bar" name="search_text" placeholder="{{ search_text }}">
                        {% else %}
                            <input type="text" id="search_bar" name="search_text"
                                   placeholder=" What are you looking for...">
                        {% endif %}
                    </div>
                        <input type="submit" id="search_button" name="search_bar" value="Search">
                    </form>
                </center>
                <script>
                    function autocomplete(inp, data) {
                        /*the autocomplete function takes two arguments,
                        the text field element and an array of possible autocompleted values:*/
                        var currentFocus;
                        /*execute a function when someone writes in the text field:*/
                        inp.addEventListener("input", function (e) {
                            var a, b, i, val = this.value;
                            /*close any already open lists of autocompleted values*/
                            closeAllLists();
                            if (!val) {
                                return false;
                            }
                            currentFocus = -1;
                            /*create a DIV element that will contain the items (values):*/
                            a = document.createElement("DIV");
                            a.setAttribute("id", this.id + "autocomplete-list");
                            a.setAttribute("class", "autocomplete-items");
                            /*append the DIV element as a child of the autocomplete container:*/
                            this.parentNode.appendChild(a);
                            var f=0;
                            /*for each item in the array...*/
                            for (x in data["data"]) {
                                if(f>8)
                                    break;
                                /*check if the item starts with the same letters as the text field value:*/

                                if (data["data"][x].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                                    f++;
                                    /*create a DIV element for each matching element:*/
                                    b = document.createElement("DIV");
                                    /*make the matching letters bold:*/
                                    b.innerHTML = "<strong>" + data["data"][x].substr(0, val.length) + "</strong>";
                                    b.innerHTML += data["data"][x].substr(val.length);
                                    /*insert a input field that will hold the current array item's value:*/
                                    b.innerHTML += "<input type='hidden' value='" + data["data"][x] + "'>";
                                    /*execute a function when someone clicks on the item value (DIV element):*/
                                    b.addEventListener("click", function (e) {
                                        /*insert the value for the autocomplete text field:*/
                                        inp.value = this.getElementsByTagName("input")[0].value;
                                        /*close the list of autocompleted values,
                                        (or any other open lists of autocompleted values:*/
                                        closeAllLists();
                                    });
                                    a.appendChild(b);
                                }
                            }
                        });
                        /*execute a function presses a key on the keyboard:*/
                        inp.addEventListener("keydown", function (e) {
                            var x = document.getElementById(this.id + "autocomplete-list");
                            if (x) x = x.getElementsByTagName("div");
                            if (e.keyCode == 40) {
                                /*If the arrow DOWN key is pressed,
                                increase the currentFocus variable:*/
                                currentFocus++;
                                /*and and make the current item more visible:*/
                                addActive(x);
                            } else if (e.keyCode == 38) { //up
                                /*If the arrow UP key is pressed,
                                decrease the currentFocus variable:*/
                                currentFocus--;
                                /*and and make the current item more visible:*/
                                addActive(x);
                            } else if (e.keyCode == 13) {
                                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                                e.preventDefault();
                                if (currentFocus > -1) {
                                    /*and simulate a click on the "active" item:*/
                                    if (x) x[currentFocus].click();
                                }
                            }
                        });

                        function addActive(x) {
                            /*a function to classify an item as "active":*/
                            if (!x) return false;
                            /*start by removing the "active" class on all items:*/
                            removeActive(x);
                            if (currentFocus >= x.length) currentFocus = 0;
                            if (currentFocus < 0) currentFocus = (x.length - 1);
                            /*add class "autocomplete-active":*/
                            x[currentFocus].classList.add("autocomplete-active");
                        }

                        function removeActive(x) {
                            /*a function to remove the "active" class from all autocomplete items:*/
                            for (var i = 0; i < x.length; i++) {
                                x[i].classList.remove("autocomplete-active");
                            }
                        }

                        function closeAllLists(elmnt) {
                            /*close all autocomplete lists in the document,
                            except the one passed as an argument:*/
                            var x = document.getElementsByClassName("autocomplete-items");
                            for (var i = 0; i < x.length; i++) {
                                if (elmnt != x[i] && elmnt != inp) {
                                    x[i].parentNode.removeChild(x[i]);
                                }
                            }
                        }

                        /*execute a function when someone clicks in the document:*/
                        document.addEventListener("click", function (e) {
                            closeAllLists(e.target);
                        });
                    }
                    var data = JSON.parse("{{ list|escapejs }}");
                    autocomplete(document.getElementById("search_bar"), data);
                </script>
            </div>
            <div class="container shape-container d-flex align-items-center py-lg">
                {% if searched %}
                    <div class="col px-0">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-6 text-center">
                                <h1 class="text-white display-1">{{ search_text }}</h1>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col px-0">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-6 text-center">
                                <h1 class="text-white display-1">Welcome</h1>
                                <h2 class="display-4 font-weight-normal text-white">The time is right now!</h2>
                                <div class="btn-wrapper mt-4">
                                    <a href="" class="btn btn-warning btn-icon mt-3 mb-sm-0">
                                        <span class="btn-inner--icon"><i class="fas fa-angle-double-right"></i></span>
                                        <span class="btn-inner--text">View Best Selling Smartphone</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div> -->
        {% if searched %}
            <div>
                Print your results here
                {{ login_flag }}
            </div>
        {% endif %}
        </div>
    </div>
    <script>
        var flag = 0;

        function showIt() {
            if (flag == 0) {
                document.getElementById("search-bar").style.display = "block";
                flag = 1;
            } else {
                flag = 0;
                document.getElementById("search-bar").style.display = "none";
            }
        }
    </script>
{% endblock %}